body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(216, 225, 238);
  background-color: hsla(216, 32%, 21%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
